<div class="container">
    <h2>Patients data:</h2>           
    <table class="table">
      <thead>
        <tr>
          <th>Patient ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Date</th>
          <th>Disease code</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{patient.patient_ID}}</td>
          <td>{{patient.name}}</td>
          <td>{{patient.address}}</td>
          <td>{{patient.ddate}}</td>
          <td>{{patient.dcode}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)="gotolist()">Back</button>
  </div>
